@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #0a2e36;
  color: #14cc60;
  font-family: "Montserrat", sans-serif;
}

.container {
  height: 100vh;
  display: grid;
  place-items: center;
}

.clock-container {
  font-size: 4rem;
  border: 0.2rem solid #14cc60;
  padding: 0.6rem;
  border-radius: 0.5rem;
  cursor: default;
  transition: transform 1s;
}

.clock-container:hover {
  transform: scale(1.5);
}

@media (min-width: 725px) {
  .clock-container {
    font-size: 8rem;
  }
}
